.dark-text-box {
	-fx-background-color: #2F2F3D;
	-fx-border-color: #c4bad7fc;
	-fx-background-radius: 15px;
	-fx-border-radius: 15px;
	-fx-border-width: 2px;
	-fx-text-fill: #c4bad7fc;
	-fx-font-size: 16px;
	
}

.dark-text-box-label {
	-fx-text-alignment: left;
	-fx-font-size: 14px;
	-fx-text-fill: #ffffff;
}

.dark-submit-button {
	-fx-background-color: #B6CFCC;
	-fx-text-fill: #2F2F3D; 
	-fx-border-radius: 20px;
	-fx-border-width: 2px;
	-fx-border-color: #2F2F3D;
	-fx-background-radius: 20px;
	-fx-font-size: 15px;
	
}

.dark-background {
	-fx-background-color: #2F2F3D;
}

.grey-background {
	-fx-background-color: #4c4c4cff;
}

.nav-bar-top {
	-fx-background-color: #ffffff;
	-fx-text-fill: #4c4c4cff;
	-fx-font-size: 35px;
	
}

.nav-bar-left {
	-fx-background-color: #2F2F3D;
	-fx-text-fill: #c4bad7fc;
	-fx-font-size: 16px;
}

.nav-bar-descrip {
	-fx-text-fill: #4c4c4cff;
	-fx-font-size: 14px;
}

.overview-dashboards {
	-fx-text-fill: #e62323;
	-fx-font-size: 70px;
	
}

.overview-dashboards-sublabel {
	-fx-text-fill: #2F2F3D;
	-fx-font-size: 20px;
}


